<div class = "new_profile">
<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bio, class: 'label_profile' %>
    <%= f.text_area :bio, class: 't_area' %>
  </div>

  <div class="field">
    <%= f.label :interests, class: 'label_profile' %>
    <%= f.text_area :interests, class: 't_area'  %>
  </div>

  <div class="actions">
    <%= button_tag type: 'submit', class: "profile_save" do %>
        <i class="fa fa-check" aria-hidden="true"></i> Save
    <% end %>
  </div>

<% end %>
</div>