
<%= form_for(profile) do |f| %>

  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "move-left">
  <div class="container"> 

      <%= f.label :bio, class: 'label'%>
      <%= f.text_area :bio, id: "textarea1", class: "materialize-textarea" %>

      <%= f.label :interests, class: 'label'%>
      <%= f.text_area :interests, id: "textarea2", class: "materialize-textarea" %> 

      <div class="actions">
        <%= button_tag type: 'submit', class: "waves-effect waves-light btn" do %>
            <i class="fa fa-check" aria-hidden="true"></i> Save
        <% end %>
      </div>
  </div>
  </div>
<% end %>
