<div class = "user">
	<div class = "user_basic">
		<%= image_tag(@user.avatar.url, size: "200x200", :alt => "default profile photo", class: 'photo') %>
		<div class = "name">
			<%= @user.firstname %> <%= @user.lastname %></br>
			<div id = "title"><%= @user.title %></div>
		</div>
			<%= link_to "Add", friendships_path(:friend_id => @user.id), :method => :post, class: 'add_friend fa fa-plus' %>
        	
        	<a href = "#" class = "message fa fa-envelope"></a>
	</div>
 	<%if @show_exists %>
  <div class = "profile_info">  
    <div class = "title">Bio</div>
    <div class = "content"><%= @profile.bio %></div>
  </div>
  <div class = "profile_info">
    <div class = "title">Interests</div>
    <div class = "content"><%= @profile.interests %></div>
  </div>
</div>              

<% else %>
<div class = "new_profile">
  <center><div id = "no_show">Nothing to show here.</div>
</div>
<% end %>