<body class = "about">

<h1 align="center"> <%= image_tag("globalink.png", :alt => "Globalink", :size => '350x203') %> </h1>

<p><div id = "content">Globalink is a <b id="keyword">networking</b> site where individuals associated with any profession can <b id="keyword">connect</b> and <b id="keyword">communicate</b> with each other. It is an environment where a <b id="keyword">company or a start-up</b> can be represented. Through Globalink, <b id="keyword">recruiters</b> can search for potential candidates.</p>
</div>

<br>
<br>
<h3 id="devheading" align="center"> <strong> The Developers: </strong> </h1>
<br>
<!--<br /> <a href=”mailto:jtarevern@yahoo.com”>name of the link</a> <br /> -->
<div id = "imgs-big-box" align="center">

<div id ="img-box"> <%= image_tag("rusty", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Rusty Pedrosa </b> <br /> <i id="email">rusty@pedrosatech.com </i>
</div>  

<div id="img-box"> <%= image_tag("akshat", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Akshat Sharma</b> <br /> <i id="email">akshatsharma46@gmail.com</i> 
</div>  

<div id="img-box"> <%= image_tag("ross", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Ross Wilkinson</b> <br /> <i id="email">rossh9wilkinson@gmail.com</i> 
</div> 

<div id="img-box"> <%= image_tag("kan", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Kaanchana Allanki</b> <br /> <i id="email">kcsa12@gmail.com</i>
</div> 

<div id="img-box"><%= image_tag("jozef", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Jozef Tarevern</b><br /> <i id="email">jtarevern@gmail.com</i>
</div> 

<div id="img-box"> <%= image_tag("yoho", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Yoho Chen</b> <br /> <i id="email">yiyang.chen@sjsu.edu</i> 
</div> 

<div id="img-box"> <%= image_tag("kevin", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Huy Kevin Dang</b> <br /> <i id="email">hk.at.dang@gmail.com</i> 
</div> 

<div id="img-box"> <%= image_tag("jordan", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Jordan Lumlum</b> <br /> <i id="email">jordanhyl@gmail.com</i> 
</div> 

<div id="img-box"> <%= image_tag("div", :size => '250x180',:alt => "Globalink", id: 'circle-image') %>
	<br /> <b id="name"> Divya Sidhabathuni</b><br /> <i id="email">divya.sid13@gmail.com</i> 
</div> 

</body>