<body class = "about">

<h1 align="center"> <%= image_tag("globalink.png", :alt => "Globalink") %> </h1>

<p><div id = "content">GlobaLink is a networking web application where individuals associated with any profession can connect and communicate with each other. <br />  It is also an environment where a company or a start-up can be represented. Entrepreneurs can represent their start-up directly within their profile account.<br />  Through GlobaLink, recruiters can also search for the next employee whom they would like to consider for an interview, since users will have the option to share on their profile everything a recruiter would need to make a decision.</p>
</div>
<hr style="height: 0px; border-bottom: 2px solid #5c4b3f;">
<hr style="height: 0px; border-bottom: 2px solid blue; margin-top: 0px;">
<hr style="height: 0px; border-bottom: 2px solid #5c4b3f; margin-top: 0px;">
<h3> <strong> Developed And Maintained By: </strong> </h1>

<!--<br /> <a href=”mailto:jtarevern@yahoo.com”>name of the link</a> <br /> -->

<div id = "imgs-big-box">

<div id ="img-box"> <%= image_tag("rusty", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Rusty Pedrosa <br /> rusty@pedrosatech.com </div>  
<div id="img-box"> <%= image_tag("akshat", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Akshat Sharma <br /> akshatsharma46@gmail.com </div>  
<div id="img-box"> <%= image_tag("ross", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Ross Wilkinson <br /> rossh9wilkinson@gmail.com </div> 
<div id="img-box"> <%= image_tag("kan", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Kaanchana Allanki <br /> kcsa12@gmail.com</div> 

<div id="img-box"><%= image_tag("jozef", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Jozef Tarevern<br /> jtarevern@gmail.com</div> 

<div id="img-box"> <%= image_tag("yoho", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Yoho Chen <br /> yiyang.chen@sjsu.edu </div> 
<div id="img-box"> <%= image_tag("kevin", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Huy Kevin Dang <br /> hk.at.dang@gmail.com </div> 
<div id="img-box"> <%= image_tag("jordan", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> name: Jordan Lumlum <br /> jordanhyl@gmail.com </div> 
<div id="middle-box"> <%= image_tag("div", :size => '250x180',:alt => "Globalink", id: 'circle-image') %><br /> Jozef Tarevern<br /> divya.sid13@gmail.com </div> 
</body>