
<body class="bg">

<div class="circle">
  <!--<h1 class="pronet-name">Globalink</h1>-->
  <div class="bg-image"><%= image_tag("globalink.png", :alt => "Globalink", :size => '350x203') %></div>
  <div class="circle-content">
    <% if user_signed_in? %>
      <h3 id="rl"><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></h3>
    <%else%>
      <h3 id="rl"><%= link_to('Sign Up', new_user_registration_path, {style: "color: #fff"})%></h3>
      <p id="rl">Already have an account? <%= link_to('Login', new_user_session_path)%></p>
    <%end%>
  </div>
</div>

<div class="col s12 m2">
  <p class="z-depth-3">
    <h1>
    <!-- <h1 class="desc-box"> -->
    	<!-- <div class="icon"><%= image_tag("browser.png", :alt => "Browser") %></div>
    	<div class="icon"><%= image_tag("envelope.png", :alt => "Envelope") %></div>
    	<div class="icon"><%= image_tag("hierarchical-structure.png", :alt => "Browser") %></div>
    	<div class="icon"><%= image_tag("photo-camera.png", :alt => "Browser") %></div> -->
    	<div class="text">The only link you'll ever need.</div>
    </h1>
  </p>
</div>
</body>