<div class = "container">
<p id="notice"><%= notice %></p>

<div class = "user"><div class = "heading">Companies</div></div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.location %></td>
        <td><%= company.about %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class = "new_profile section">
    <center><%= link_to '<i class="material-icons">add</i>'.html_safe, new_company_path, class: 'btn-floating tooltipped btn-large waves-effect waves-light hoverable' %>
</div>
</div>