<body class = "form-bg">
<h1 class="elegantshadow">Log In</h1>

<div class="relative">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="group">
        <%= f.email_field :email, class: 'input', required: true%>
        <%= f.label :email, class: 'labe' %>
      </div>

     <div class="group">
        <%= f.password_field :password, autocomplete: "off", class: 'input', required: true %>
        <%= f.label :password, class: 'labe' %>     
      </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    
      <center><%= button_tag type: 'submit', class: "waves-effect waves-light teal btn" do %>
          <i class="material-icons left">input</i> Log In
      <% end %>
  <% end %>
  <div class ="margin-aut-links-login"><%= render "devise/shared/links" %></div>
</div>
</body>