<<<<<<< HEAD
<body class = "form-bg">
=======
>>>>>>> cf87fe732be096e342c017f4fe2bf2b83b3eded1
<h1 class="elegantshadow">Log In</h1>

<div class="relative">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="group">
      <%= f.email_field :email, class: 'input', required: true%>
      <span class="highlight"></span>
      <span class="bar"></span>
      <%= f.label :email %>
    </div>

   <div class="group">
      <%= f.password_field :password, autocomplete: "off", class: 'input', required: true %>
      <span class="highlight"></span>
      <span class="bar"></span>
      <%= f.label :password %>     
    </div>

  <!--<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>-->
  
  <div class = "btn-2">
<<<<<<< HEAD
    <center><%= f.submit "Log in", class: 'butn'%>
=======
    <center><%= f.submit "Log in", class: 'btn'%>
>>>>>>> cf87fe732be096e342c017f4fe2bf2b83b3eded1
  </div>


<% end %>


<%= render "devise/shared/links" %>
<<<<<<< HEAD
</div>
</body>
=======
</div>
>>>>>>> cf87fe732be096e342c017f4fe2bf2b83b3eded1
