<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%= commontator_thread(@post) %>

<%= link_to 'Edit', edit_post_path %> |
<%= link_to 'Back', posts_path %>
