<div class = "user add-margin">	
		<div class = "user_basic">
				<%= image_tag(current_user.avatar.url, size: "200x200", :alt => "default profile photo", class: 'photo') %>
				<div class = "name">
					<%= current_user.firstname %> <%= current_user.lastname %></br>
				<div id = "title"><%= current_user.title %></div>
			</div>
		</div>
	</div>
</div>

<div class = "new_profile">
	<div class = "heading">New Institution</div>

	<%= render 'form', education: @education %>

	<div class = "profile_back">
		<%= link_to 'Cancel', currenteducation_url, class: 'back_link' %>
	</div>
</div>
