<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @education.location %>
</p>

<p>
  <strong>Enroll:</strong>
  <%= @education.enroll %>
</p>

<p>
  <strong>Grad:</strong>
  <%= @education.grad %>
</p>

<p>
  <strong>User:</strong>
  <%= @education.user %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
