<!DOCTYPE html>
<html>
  <head>
    <title>Pronet</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
        <%= yield %>
=======
    
  <% if user_signed_in? %>
  <nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <a class="navbar-brand" href="user_profile"><%= image_tag("gl50.png", :alt => "GlobalinkIcon", :size => '30x30') %></a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="user_profile">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="newsfeed">NewsFeed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MyConnect</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <%= link_to('Sign Out', destroy_user_session_path, :method => :delete, class: 'nav-link') %>
      </li>
    </ul>
    <form class="form-inline pull-xs-right">
      <section class="border">
        <input class="form-control" type="text" placeholder="Search">
        <button id="searchButton">Search</button>
      </section>
    </form>
  </nav>
  <% else %>
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <a class="navbar-brand" href="http://localhost:3000/"><%= image_tag("gl50.png", :alt => "GlobalinkIcon", :size => '30x30') %></a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/users/sign_in">Log In<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_up">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
  </nav>
  
  <% end %>  
    <%= yield %>
>>>>>>> origin/akshat_Dev
  </body>

  <% unless alert == " " %>
    <div class="alert"><%= alert %></div>
  <% end %>

</html>
