<!DOCTYPE html>
<html>
  <head>
    <title>Pronet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <body>
    
      <div class="container">
        <% if user_signed_in? %>
        <li>
        <h1><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></h1>       
        </li>
      <% else %>
        <li>
        <%= link_to('Login', new_user_session_path)  %>  
        </li>
      <% end %>


      <% if user_signed_in? %>
        <li>
        <%= link_to('Edit registration', edit_user_registration_path) %>
        </li>
      <% else %>
        <li>
        <%= link_to('Register', new_user_registration_path)  %>
        </li>
      <% end %>    
      </div>
    
    <%= yield %>
  </body>
</html>
