<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <title>Globalink</title>
      <%= csrf_meta_tags %>


      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

    <%unless @disable_nav %>  

      <% if user_signed_in? %>

      <nav>
        <div class="nav-wrapper">
          <a href="user_profile" class="brand-logo"><%= image_tag("gl100.png", :alt => "GlobalinkIcon", :size => '55x55') %></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'Profile', currentprofile_url %></li>
            <li><%= link_to 'Newsfeed', newsfeed_url %></li>
            <li><%= link_to 'My Connect', connections_url %></li>
            <li><%= link_to 'About', aboutus_url %></li>
            <li><a>
              <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
            </a></li>   
            <li><div class="input-field">
              <input id="search" type="search" required>
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div></li>
          </ul>
        </div>
      </nav>
      <div class = "edit_account_button">
        <%= link_to '<i class="fa fa-cogs" aria-hidden="true"></i>'.html_safe, edit_account_url, class: 'btn-floating btn teal accent-3 hoverable' %>
      </div>
      <% else %>

       <nav>
        <div class="nav-wrapper">
          <a href="http://localhost:3000/" class="brand-logo"><%= image_tag("gl100.png", :alt => "GlobalinkIcon", :size => '55x55') %></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to 'About', aboutus_url %></li>
            <li><%= link_to 'Log In', sign_in_url %></li>
            <li><%= link_to 'Sign Up', sign_up_url %></li>
          </ul>
        </div>
      </nav>

      <% end %>
      
    <% end %>  
    <%= yield %>
    </body>

  <% unless alert == " " %>
    <div class="alert"><%= alert %></div>
  <% end %>

</html>
