<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <title>Globalink</title>
      <%= csrf_meta_tags %>


      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

    <%unless @disable_nav %>  

      <% if user_signed_in? %>

      <nav>
        <div class="nav-wrapper">
          <a href="user_profile" class="brand-logo"><%= image_tag("gl100.png", :alt => "GlobalinkIcon", :size => '55x55') %></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="user_profile">Profile</a></li>
            <li><a href="newsfeed">NewsFeed</a></li>
            <li><a href="#">MyConnect</a></li>
            <li><a href="about">About</a></li>
            <li><a>
              <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
            </a></li>
          </ul>
        </div>
      </nav>

      <% else %>

       <nav>
        <div class="nav-wrapper">
          <a href="user_profile" class="brand-logo"><%= image_tag("gl100.png", :alt => "GlobalinkIcon", :size => '55x55') %></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/users/sign_in">Log In</a></li>
            <li><a href="/users/sign_up">Sign Up</a></li>
            <li><a href="collapsible.html">About</a></li>
          </ul>
        </div>
      </nav>

      <% end %>
      
    <% end %>  
    <%= yield %>
    </body>

  <% unless alert == " " %>
    <div class="alert"><%= alert %></div>
  <% end %>

</html>
